--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
loguru
aiohttp
beautifulsoup4
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
langchain-huggingface
python-dotenv
sentence-transformers
chromadb
pypdf
langgraph
requests
selenium
trafilatura
nltk
scikit-learn
pandas
numpy
datasets
rouge-score
python-multipart
pymupdf